# Java compiled files
*.class

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Build folders
bin/
target/
build/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db